In [2]:
import tabula
import os
import pandas as pd

In [2]:

pdf_directory = "../Data/"

# Initialize an empty list to store the DataFrames
dataframes = []

# Iterate over each PDF file in the directory
for filename in os.listdir(pdf_directory):
    if filename.endswith(".pdf"):
        # Full file path
        file_path = os.path.join(pdf_directory, filename)
        
        # Read the PDF into a DataFrame
        df_list = tabula.read_pdf(file_path, output_format='dataframe', pages='all', lattice=True)
        
        # Iterate over the list of DataFrames (one for each page) and clean them
        # Replace '\r' in the entire DataFrame
        df_list[0].replace('\r', '', regex=True, inplace=True)
        df_list[0].columns = df_list[0].columns.str.replace(r'[\r\s\n\xa0]+', '', regex=True)   # Remove carriage returns

        df_list[0].columns = df_list[0].columns.str.strip()

        dataframes.append(df_list[0])

# Concatenate all the DataFrames into a single DataFrame
final_df = pd.concat(dataframes, ignore_index=True)

# Save the final DataFrame to a CSV file
final_df.to_csv("../Data/data.csv", index=False)

In [3]:
df = pd.read_csv("../Data/data.csv")

In [4]:
df

,AgreementNumber,DisbursementDate,LoanAmount,NumberofOrnaments,GrossWeightofOrnaments(gm),AuctionDate,AuctionPlace,BranchAddress,State
0,PV97SGL7830716,18-May-23,80099.0,1.0,21.1,12-Aug-24,Adilabad -Dwaraka nagar,"Mahajan Complex, First floor,Busstand road. Dw...",NaN
1,PV97SGL7844024,19-May-23,57799.0,1.0,14.0,12-Aug-24,Adilabad -Dwaraka nagar,NaN,NaN
2,PV97SGL7918636,25-May-23,19599.0,1.0,5.2,12-Aug-24,Adilabad -Dwaraka nagar,NaN,NaN
3,PV97SGL8121108,13-Jun-23,48258.0,1.0,11.8,12-Aug-24,Adilabad -Dwaraka nagar,NaN,NaN
4,PV97SGL8143786,15-Jun-23,145174.0,1.0,35.5,12-Aug-24,Adilabad -Dwaraka nagar,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32625,PER4SGL8382233,07-Jul-23,15299.0,1.0,3.9,13-Sep-24,Zahirabad-RTC Bus Stand,"D No. 2--13/1, 1st Floor, PallodComplex, Subha...",Telangana
32626,PER4SGL8454082,13-Jul-23,27299.0,1.0,9.0,13-Sep-24,Zahirabad-RTC Bus Stand,Telangana,NaN
32627,PER4SGL8479949,15-Jul-23,23099.0,1.0,5.9,13-Sep-24,Zahirabad-RTC Bus Stand,Telangana,NaN
32628,PER4SGL8493744,17-Jul-23,163396.0,3.0,45.4,13-Sep-24,Zahirabad-RTC Bus Stand,Telangana,NaN
32629,PER4SGL8502742,18-Jul-23,125150.0,1.0,31.1,13-Sep-24,Zahirabad-RTC Bus Stand,Telangana,NaN

In [1]:
import os 
import sys
import pandas as pd
from typing import List

In [2]:
! pip install beautifultable
from beautifultable import BeautifulTable

Requirement already satisfied: beautifultable in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (1.1.0)
Requirement already satisfied: wcwidth in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from beautifultable) (0.2.13)

In [3]:
! pip install opencv-python
! pip install camelot-py
! pip install ghostscript

import camelot

Requirement already satisfied: opencv-python in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (4.10.0.84)
Requirement already satisfied: numpy>=1.21.2 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from opencv-python) (2.0.2)
Requirement already satisfied: camelot-py in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (0.11.0)
Requirement already satisfied: chardet>=3.0.4 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (5.2.0)
Requirement already satisfied: click>=6.7 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (8.1.7)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (2.0.2)
Requirement already satisfied: openpyxl>=2.5.8 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (3.1.5)
Requirement already satisfied: pandas>=0.23.4 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (2.2.3)
Requirement already satisfied: pdfminer.six>=20200726 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (20240706)
Requirement already satisfied: pypdf>=3.0.0 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (5.0.1)
Requirement already satisfied: tabulate>=0.8.9 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from camelot-py) (0.9.0)
Requirement already satisfied: colorama in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from click>=6.7->camelot-py) (0.4.6)
Requirement already satisfied: et-xmlfile in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from openpyxl>=2.5.8->camelot-py) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from pandas>=0.23.4->camelot-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from pandas>=0.23.4->camelot-py) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from pandas>=0.23.4->camelot-py) (2024.2)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from pdfminer.six>=20200726->camelot-py) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from pdfminer.six>=20200726->camelot-py) (43.0.1)
Requirement already satisfied: typing_extensions>=4.0 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from pypdf>=3.0.0->camelot-py) (4.12.2)
Requirement already satisfied: cffi>=1.12 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (1.17.1)
Requirement already satisfied: six>=1.5 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23.4->camelot-py) (1.16.0)
Requirement already satisfied: pycparser in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (2.22)
Requirement already satisfied: ghostscript in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in c:\users\sachi\desktop\codes\gold_auction\.venv\lib\site-packages (from ghostscript) (65.5.0)

In [4]:
file_path="../qr-data-jan-24.pdf"

In [9]:
# use camelot to parse tables   
def get_tables(path: str, pages: List[int]):    
    for page in pages:
        table_list = camelot.read_pdf(path, pages=str(page))
        if table_list.n>0:
            for tab in range(table_list.n):
                
                # Conversion of the the tables into the dataframes.
                table_df = table_list[tab].df 
                
                table_df = (
                    table_df.rename(columns=table_df.iloc[0])
                    .drop(table_df.index[0])
                    .reset_index(drop=True)
                )        
                     
                table_df = table_df.apply(lambda x: x.str.replace('\n',''))
                
                # Change column names to be valid as XML tags
                table_df.columns = [col.replace('\n', ' ').replace(' ', '') for col in table_df.columns]
                table_df.columns = [col.replace('(', '').replace(')', '') for col in table_df.columns]
    
    return table_df
# extract data table from page number
df = get_tables(file_path, pages=[20])

In [10]:
df

,924161,,,,,,,
0,P6A4GOL5937218,11-Nov-22,5249,1,1.9,15-Jan-24,BASMAT,
1,P6A4GOL5958847,14-Nov-22,14046,1,4.48,15-Jan-24,BASMAT,
2,P6A4GOL5959024,14-Nov-22,7249,1,2.5,15-Jan-24,BASMAT,
3,P6A4GOL5966565,15-Nov-22,25838,4,8.4,15-Jan-24,BASMAT,
4,P6A4GOL5975108,16-Nov-22,16249,1,5.2,15-Jan-24,BASMAT,
5,P6A4GOL6018532,21-Nov-22,134749,1,40.4,15-Jan-24,BASMAT,
6,P14QGOL5857427,01-Nov-22,14649,1,5.5,15-Jan-24,Bassi,"Bajaj Finance Limited,Ground Floor, Khadi Gram..."
7,P14QGOL5870571,03-Nov-22,25499,1,12.53,15-Jan-24,Bassi,
8,P14QGOL5904659,08-Nov-22,36009,2,46.87,15-Jan-24,Bassi,
9,P14QGOL5926981,10-Nov-22,7549,1,12.77,15-Jan-24,Bassi,
10,PB43GOL5885176,05-Nov-22,77149,5,23.48,15-Jan-24,Bathinda Gl,"Bajaj Finance Limited, Ground Floor, Guru Kans..."
11,PB43GOL5979520,16-Nov-22,88549,2,26.28,15-Jan-24,Bathinda Gl,
12,P39EGOL5859946,02-Nov-22,44149,5,13.5,15-Jan-24,Bazpur Bazpur Gurudwara GL,"Bajaj finance limited,Bazpur Gurudwara Bazpur,..."
13,P39EGOL5984103,17-Nov-22,10050,1,3.5,15-Jan-24,Bazpur Bazpur Gurudwara GL,
14,P39EGOL6002760,19-Nov-22,68149,1,20,15-Jan-24,Bazpur Bazpur Gurudwara GL,
15,P39EGOL6,21-Nov-22,355000,17,105.62,15-Jan-24,Bazpur Bazpur,

In [6]:
import os
import pandas as pd
import camelot
from tqdm import tqdm

In [7]:
def read_pdf(directory: str):
    all_tables = pd.DataFrame()  # List to store all the dataframes
    
    # Iterate over all files in the given directory
    for filename in os.listdir(directory):
        if filename.endswith(".pdf"):
            pdf_path = os.path.join(directory, filename)
            print(f"Processing {filename}...")

            # Get the number of pages in the PDF using camelot to extract from all pages
            all_page_tables_list = camelot.read_pdf(pdf_path, pages='all')
            for tables in tqdm(all_page_tables_list):
                tab = tables.df
                tab.columns = [None] * len(tab.columns)
                tab = tab[1:-1]
                all_tables = pd.concat([all_tables, tab], axis=0, ignore_index=True)
    
    return all_tables

In [8]:
data_df = read_pdf('../Data/')

Processing qr-data-august-24.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 259/259 [00:00<00:00, 2171.05it/s]

Processing qr-data-feb-24.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 137/137 [00:00<00:00, 1080.79it/s]

Processing qr-data-jan-24.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 175/175 [00:00<00:00, 812.42it/s]

Processing qr-data-june-24.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 251/251 [00:00<00:00, 484.39it/s]

Processing qr-data-mar-24.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 182/182 [00:01<00:00, 130.95it/s]

Processing qr-data-oct-23.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 98/98 [00:01<00:00, 83.64it/s]

Processing qr-data-oct-24.pdf...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 203/203 [00:02<00:00, 78.40it/s]

Processing qr-data-sep-24.pdf...

  0%|          | 0/207 [00:00<?, ?it/s]

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [9]:
import camelot
tables = camelot.read_pdf('../Data/qr-data-jan-24.pdf',pages='all')
tables.export('qr-data-jan-24.csv', f='csv', compress=True,)

In [17]:
tables[0].df[1:-1]

,0,1,2,3,4,5,6,7
1,PV97\nGOL5\n8444\n31,31-\nOct-\n22,168\n49,1,5,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,"Mahajan Complex, First floor, Busstand road. D..."
2,PV97\nGOL5\n8477\n42,31-\nOct-\n22,361\n49,1,10.6,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
3,PV97\nGOL5\n8703\n93,03-\nNov-\n22,500\n50,1,14.79,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
4,PV97\nGOL5\n8965\n55,07-\nNov-\n22,145\n149,1,47.5,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
5,PV97\nGOL5\n9456\n50,12-\nNov-\n22,514\n9,1,2.1,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
6,PV97\nGOL5\n9601\n07,14-\nNov-\n22,296\n49,1,9,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
7,PV97\nGOL5\n9755\n09,16-\nNov-\n22,210\n99,1,7,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
8,PV97\nGOL6\n0179\n74,21-\nNov-\n22,664\n78,2,20.7,16-\nJan\n-24,Adilabad \nDwaraka \nnagar I,
9,PKB9\nSGL5\n8944\n74,07-\nNov-\n22,574\n99,1,20.04,15-\nJan\n-24,Ahmedabad \nGurukul GL,"Balaji Complex, shop No F6 & 7; 1st Floor, Opp..."
10,PLB1\nSGL5\n8474\n60,31-\nOct-\n22,498\n49,1,14.56,15-\nJan\n-24,AHMEDABAD \nNIKOL GL,"Ground Floor, Shop No F32-33,Pancham Shopping ..."

In [29]:
import tabula
df_list = tabula.read_pdf('..\Data\qr-data-sep-24.pdf', output_format='dataframe', pages='all',lattice=True,pandas_options={})

In [30]:
df_list[0]

,Agreement\rNumber,Disbursem\rent Date,Loan\rAmou\rnt,Number\rof\rOrname\rnts,Gross\rWeight\rof\rOrname\rnts( gm),Auctio\rn Date,Auction Place,Branch Address,State
0,PV97SGL8183\r469,19-Jun-23,82299,1.0,20.0,14-\rSep-\r24,Adilabad-\rDwaraka nagar,"Mahajan Complex, First floor,\rBusstandroad.Dw...",Telangana
1,PV97SGL8246\r809,24-Jun-\r23,20496,1.0,5.2,14-\rSep-\r24,Adilabad-\rDwaraka nagar,Telangana,NaN
2,PV97SGL8311\r989,30-Jun-\r23,16019\r2,1.0,40.7,14-\rSep-\r24,Adilabad-\rDwaraka nagar,Telangana,NaN
3,PV97SGL8341\r631,04-Jul-23,67299,1.0,16.9,14-\rSep-\r24,Adilabad-\rDwaraka nagar,Telangana,NaN
4,PV97SGL8435\r947,12-Jul-23,60299,1.0,15.1,14-\rSep-\r24,Adilabad-\rDwaraka nagar,Telangana,NaN
...,...,...,...,...,...,...,...,...,...
4709,PER4SGL8382\r233,07-Jul-23,15299,1.0,3.9,13-\rSep-\r24,Zahirabad-\rRTC Bus Stand,"D No. 2--13/1, 1st Floor, Pallod\rComplex, Sub...",Telangana
4710,PER4SGL8454\r082,13-Jul-23,27299,1.0,9.0,13-\rSep-\r24,Zahirabad-\rRTC Bus Stand,Telangana,NaN
4711,PER4SGL8479\r949,15-Jul-23,23099,1.0,5.9,13-\rSep-\r24,Zahirabad-\rRTC Bus Stand,Telangana,NaN
4712,PER4SGL8493\r744,17-Jul-23,16339\r6,3.0,45.4,13-\rSep-\r24,Zahirabad-\rRTC Bus Stand,Telangana,NaN
4713,PER4SGL8502\r742,18-Jul-23,12515\r0,1.0,31.1,13-\rSep-\r24,Zahirabad-\rRTC Bus Stand,Telangana,NaN

In [11]:
import os
import camelot
import pandas as pd
from typing import List

def get_tables_from_pdfs(directory: str):
    all_tables = []  # List to store all the dataframes
    
    # Iterate over all files in the given directory
    for filename in os.listdir(directory):
        if filename.endswith(".pdf"):
            pdf_path = os.path.join(directory, filename)
            print(f"Processing {filename}...")

            # Get the number of pages in the PDF using camelot to extract from all pages
            first_page = camelot.read_pdf(pdf_path, pages='1')
            num_pages = first_page[0].page if len(first_page) > 0 else 0  # Total number of pages
            
            for page in range(1, num_pages + 1):
                table_list = camelot.read_pdf(pdf_path, pages=str(page))
                if table_list.n > 0:
                    for tab in range(table_list.n):
                        # Conversion of the the tables into dataframes
                        table_df = table_list[tab].df

                        table_df = (
                            table_df.rename(columns=table_df.iloc[0])
                            .drop(table_df.index[0])
                            .reset_index(drop=True)
                        )

                        table_df = table_df.apply(lambda x: x.str.replace('\n', ''))

                        # Clean column names
                        table_df.columns = [col.replace('\n', ' ').replace(' ', '') for col in table_df.columns]
                        table_df.columns = [col.replace('(', '').replace(')', '') for col in table_df.columns]

                        all_tables.append(table_df)  # Store the table dataframe

    # Optionally, you can concatenate all tables into a single dataframe if needed
    if all_tables:
        combined_df = pd.concat(all_tables, ignore_index=True)
        return combined_df
    else:
        print("No tables found.")
        return None

# Usage
directory_path = '../Data/'
tables_df = get_tables_from_pdfs(directory_path)

# Now, tables_df contains all extracted tables from all PDFs

Processing qr-data-august-24.pdf...
Processing qr-data-feb-24.pdf...
Processing qr-data-june-24.pdf...
Processing qr-data-mar-24.pdf...
Processing qr-data-oct-23.pdf...
Processing qr-data-oct-24.pdf...
Processing qr-data-sep-24.pdf...

In [12]:
tables_df

,AgreementNumber,DisbursementDate,LoanAmount,NumberofOrnaments,GrossWeightofOrnamentsgm,AuctionDate,AuctionPlace,BranchAddress,GrossAuctioWeightnDateofOrnamentsgm,,State
0,PV97SGL7830716,18-May-23,80099,1,21.1,12-Aug-24,Adilabad - Dwaraka nagar,"Mahajan Complex, First floor, Busstand road. D...",NaN,NaN,NaN
1,PV97SGL7844024,19-May-23,57799,1,14,12-Aug-24,Adilabad - Dwaraka nagar,,NaN,NaN,NaN
2,PV97SGL7918636,25-May-23,19599,1,5.2,12-Aug-24,Adilabad - Dwaraka nagar,,NaN,NaN,NaN
3,PV97SGL8121108,13-Jun-23,48258,1,11.8,12-Aug-24,Adilabad - Dwaraka nagar,,NaN,NaN,NaN
4,PV97SGL8143786,15-Jun-23,145174,1,35.5,12-Aug-24,Adilabad - Dwaraka nagar,,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
111,PYB2PFI7443143,15-Apr-23,35799,2,NaN,NaN,AGOOCHA,,11.1,21-Sep-24,Rajasthan
112,PYB2PFI8053196,07-Jun-23,38629,1,NaN,NaN,AGOOCHA,,11.4,21-Sep-24,Rajasthan
113,PYB2PFI8379202,07-Jul-23,47367,2,NaN,NaN,AGOOCHA,,16.3,21-Sep-24,Rajasthan
114,PKB9GOL8249481,24-Jun-23,403600,8,NaN,NaN,Ahmedabad - Gurukul,"Balaji Complex, shop No F6 & 7; 1st Floor, Opp...",104.14,12-Sep-24,Gujarat
115,PKB9GOL8352187,05-Jul-23,35300,1,NaN,NaN,Ahmedabad - Gurukul,,8.76,12-Sep-24,Gujarat